form.form-horizontal(method='post', action='/createDefects')
	h3.page-header defects
	.control-group
		label.control-label(for="storyName") Defect Name
		.controls
			input#defectName(type="text", placeholder="Defect Name")
	.control-group
		label.control-label(for="storyState") Defect State
		.controls
			select#storyStateDropDown(name="storyStateDDL")
				- for(i = 0; i < indexState.length; i++)
					console.log(indexState);
					option(value='#{indexState[i]}')
						value #{indexState[i]}
	.control-group
		label.control-label(for="storyAmount") Amount of stories
		.controls
			input#storyAmount(type="number", value="1")
	.control-group
		input#userSubmit.btn(id='createStory', type='button', value='Create')