form.form-horizontal
	h3.page-header releases
	.control-group
		label.control-label(for="releaseName") Name
		.controls
			input#releaseName(type="text", placeholder="Name", data-field-name='Name', value="a release")
	.control-group
		label.control-label(for="releaseStartDate") Release Start Date
		.controls
			input#releaseStartDate(type="text", placeholder="Start Date", data-provide="datepicker", data-field-name='ReleaseStartDate', value="10/1/2013")
	.control-group
		label.control-label(for="releaseEndDate") Release Date
		.controls
			input#releaseEndDate(type="text", placeholder="End Date", data-provide="datepicker", data-field-name='ReleaseDate', value="10/31/2013")
	.control-group
		label.control-label(for="releaseState") State
		.controls
			select(id='rlsStateDropDown', name='releaseState', data-field-name='State')
				option(value='Planning')
					value Planning
				option(value='Committed')
					value Committed
				option(value='Accepted')
					value Accepted
	.control-group
		label.control-label(for="releaseAmount") Amount
		.controls
			input#releaseAmount(type="number", value="1", data-field-name="count")
	.control-group
		.controls
			button#releaseSubmit.btn Create
