form.form-horizontal(method='post', action='/createStory')
	h3.page-header stories
	.control-group
		label.control-label(for="storyName") User Story Name
		.controls
			input#storyName(type="text", placeholder="Story Name")
	.control-group
		input#userSubmit.btn(id='createStory', type='button', value='Create')