html
	head
		title Story Generate
		script(src='http://code.jquery.com/jquery-2.0.0.min.js')
		script(src='js/jqStory.js')
		link(rel='stylesheet', href='stylesheets/style.css')
		body
			#story
				form(id='storyForm', method='post', action='/createStory')
					table
						tr
							td
								h3 Story
						tr
							td(id='nameTag') Name:
							td
								input(id='sName', type='text', name='storyName')
						tr
							td State:
							td
								select(id='sState', name='storyState')
									- for(i = 0; i < indexState.length; i++)
										option(value='#{indexState[i]}')
											value #{indexState[i]}
				#sbuttons(class='buttonDiv')
					button#createStory.btn Create
					button#.btn xPlode!
			#multiStory(class='multiBox')
				form(id='multiStoryForm', method='post', action='/multiStory')
					table
						tr
							td
								h3 Stories
						tr
							td(id='mNameTag') Name:
							td
								input(id='sMName',type='text', name='sName')
						tr
							td State:
							td
								select(id='sMState', name='sState')
									- for(i = 0; i < indexState.length; i++)
										option(value='#{indexState[i]}')
											value #{indexState[i]}
						tr
							td Quantity:
							td
								input(type='text', id='sCount', class="spinner", name='sCount')
				#mbuttons(class='buttonDiv')
					input(id='multiCreate', type='submit', value='Create')
					input(type='button', id='rPlode', value='xPlode!')	





