ignore/
public/stylesheets/custom-theme
public/stylesheets/ui-darkness
public/Images
node_modules
.DS_Store
credentials.js
.tm_properties
tmtags
tmtagsHistory
public/js/lib/jquery-2.0.3.js
public/js/lib/jquery-2.0.3.min.map