doctype 5
html
	head
		title Boot Strap test
		link(rel='stylesheet', href='css/bootstrap.css')
	body
		div(class='container')
			h1 Hello world
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
			script(src='js/bootstrap.js')
			div(class="navbar")				
				div(class="navbar-inner")
					div(class="container")
						ul(class="nav")
							li(class="active")
								a(href="#") Home
							li
								a(href="#") Projects
							li
								a(href="#") Services
							li
								a(href="#") Downloads
							li
								a(href="#") About
							li
								a(href="#") Contact
			div(class="hero-unit")
				h1 Marketing Stuff!
				p Some text to make it seem like we have a good amount of text here.  It's a stupid amount of text and doesn't really include anything about rextar the prince of galgamackian planets.
				a(href="#", class="btn btn-large btn-success") Get Started




						
