html
	head
		title Make a selection
		script(src='js/lib/jquery-2.0.3.min.js')
		script(src='js/lib/bacon.min.js')
		script(src='js/lib/bootstrap.min.js')
		script(src='js/lib/bootstrap-datepicker.js')
		script(src='js/utils.js')
		script(src='js/jqStory.js')
		script(src='js/users.js')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body

		.container
			.row
				.span6.well
					ul.nav.nav-pills
						li.active
							a(href="#users", data-toggle='pill') Users
						li
							a(href="#iterations", data-toggle='pill') Iterations
						li
							a(href="#releases", data-toggle='pill') Releases
						li
							a(href="#query", data-toggle='pill') Query
						li
							a(href="#stories", data-toggle='pill') Stories
					.tab-content
						#users.tab-pane.active
							include partials/users
						#iterations.tab-pane
							include partials/iterations
						#releases.tab-pane
							include partials/releases
						#query.tab-pane
							include partials/query
						#stories.tab-pane
							include partials/stories
				.span6.well
					.row
						.span2
							h3 status	
						.span4
							p#status 
