html
	head
		title Make a selection
	body
		form(method='get', action='/users')
			input(class='inp-buttons', type='submit', value='Users')
		form(method='get', action='/iteration')
			input(class='inp-buttons', type='submit', value='Iterations')
		form(method='get', action='/query')
			input(class='inp-buttons', type='submit', value='Query')