html
	head
		title Make a selection

		script(src='http://code.jquery.com/jquery-2.0.0.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		link(rel='stylesheet', href='stylesheets/custom-theme/jquery-ui-1.10.0.custom.min.css')
		link(rel='stylesheet', href='stylesheets/mainStyle.css')
		script.
			$(function(){
				$(".inp-buttons").button();
			});
	body
		form(method='get', action='/users')
			input(class='inp-buttons', type='submit', value='Users')
		form(method='get', action='/iteration')
			input(class='inp-buttons', type='submit', value='Iterations')
		form(method='get', action='/query')
			input(class='inp-buttons', type='submit', value='Query')