html
	head
		title Iteration Generate
		script(src='http://code.jquery.com/jquery-2.0.0.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		script(src='js/jqIteration.js')	
		link(rel='stylesheet', href='stylesheets/custom-theme/jquery-ui-1.10.0.custom.min.css')
		link(rel='stylesheet', href='stylesheets/mainStyle.css')	
		body
			#iteration
				table
					tr
						td
							h3 Iteration
					tr
						td(id='tagName') Name:
						td
							input(type='text', id='iName', name='iName')
					tr
						td(id='tagStartDate') Start Date:
						td
							input(type='none', name='iStartDate', id='iStartDate', class='dateField')
					tr
						td(id='tagEndDate') End Date:
						td
							input(type='none', name='iEndDate', id='iEndDate', class='dateField')
					tr
						td State:
						td
							//-This select tool needs to be changed to pull the values from Rally.
							select(id='iState', name='iState')
								option(value='Planning')
									value Planning
								option(value='Committed')
									value Committed
								option(value='Accepted')
									value Accepted
				#sbuttons(class='buttonDiv')
					input(class='inp-buttons', id='createIteration', type='button', value='Create')
					input(class='inp-buttons', id='xPlode', type='button', value='xPlode!')
			#multiIteration(class='multiBox')
				form(method='post', action='/multiIteration')
					table
						tr
							td
								h3 Iterations
						tr
							td(id='mNameTag') Name:
							td
								input(id='iMName', type='text', name='iName')
						tr
							td(id='mStartDateTag') Start Date:
							td
								input(type='none', name='iStartDate', id='iMStartDate', class='dateField')
						tr
							td(id='mEndDateTag') End Date:
							td
								input(type='none', name='iEndDate', id='iMEndDate', class='dateField')
						tr
							td State:
							td
								select(id='iMState', name='iState')
									option(value='Planning')
										value Planning
									option(value='Committed')
										value Committed
									option(value='Accepted')
										value Accepted
						tr
							td Quantity:
							td
								input(type='text', class="spinner", id='spinMe', name='iCount')
				#mbuttons(class='buttonDiv')
					input(class='inp-buttons', type='button', id='iCreate', value='Create')
					input(class='inp-buttons', type='button', id='rPlode', value='xPlode!')	





