html
	head
		title Release Generator

		script(src='http://code.jquery.com/jquery-2.0.0.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		link(rel='stylesheet', href='stylesheets/custom-theme/jquery-ui-1.10.0.custom.min.css')
		link(rel='stylesheet', href='stylesheets/mainStyle.css')	
		script.
			$(function(){
				$("#release").draggable();
				$("#multiRelease").draggable();
				$("#spinMe").spinner({min:2}).val(2);
				$(".inp-buttons").button();
				$(".dateField").datepicker();
				$("#xPlode").click(function(){
					$("#release").toggle("explode", function(){
						$("#multiRelease").toggle("explode")
					});
				});
				$("#rPlode").click(function(){
					$("#multiRelease").toggle("explode", function(){
						$("#release").toggle("explode")
					});	
				});
			});
		body
			#release
				form(method='post', action='/release')
					table
						tr
							td
								h3 Release
						tr
							td Name:
							td
								input(type='text', name='rName')
						tr
							td Start Date:
							td
								input(type='none', name='rStartDate', id='iStartDate', class='dateField')
						tr
							td End Date:
							td
								input(type='none', name='rEndDate', id='iEndDate', class='dateField')
						tr
							td State:
							td
								//-This select tool needs to be changed to pull the values from Rally.
								select(name='rState')
									option(value='Planning')
										value Planning
									option(value='Committed')
										value Committed
									option(value='Accepted')
										value Accepted
				#sbuttons(class='buttonDiv')
					input(class='inp-buttons', id='createRelease', type='submit', value='Create')
					input(class='inp-buttons', type='button', id='xPlode', type='button', value='xPlode!')
			#multiRelease(class='multiBox')
				form(method='post', action='/multiRelease')
					table
						tr
							td
								h3 Releases
						tr
							td Name:
							td
								input(type='text', name='rName')
						tr
							td Start Date:
							td
								input(type='none', name='rStartDate', id='rMStartDate', class='dateField')
						tr
							td End Date:
							td
								input(type='none', name='rEndDate', id='rMEndDate', class='dateField')
						tr
							td State:
							td
								select(name='rState')
									option(value='Planning')
										value Planning
									option(value='Committed')
										value Committed
									option(value='Accepted')
										value Accepted
						tr
							td Quantity:
							td
								input(type='text', id='spinMe', name='rCount')
					#mbuttons(class='buttonDiv')
						input(class='inp-buttons', id='rCreate', type='submit', value='Create')
						input(class='inp-buttons', type='button', id='rPlode', value='xPlode!')