script(src='js/lib/jquery-2.0.3.min.js')
script(src='js/lib/bacon.min.js')
script(src='js/lib/bootstrap.min.js')
script(src='js/lib/bootstrap-datepicker.js')
script(src='js/lib/underscore.js')
script(src='js/lib/backbone.js')
script(src='js/lib/slipsum.js')

script(src='js/utils.js')

script(src='js/rally_api/BackboneOverride.js')
script(src='js/rally_api/WsapiObject.js')

script(src='js/users.js')
script(src='js/iterations.js')
script(src='js/releases.js')
script(src='js/defects.js')
script(src='js/stories.js')
script(src='js/tags.js')

script(src='js/app.js')