html
	head
		title User creator
		script(src='http://code.jquery.com/jquery-2.0.0.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		link(rel='stylesheet', href='stylesheets/custom-theme/jquery-ui-1.10.0.custom.min.css')
		script.
			$(function(){
				$("#myUser").draggable();
				$("#myUserGenerator").draggable();
				$("#spinMe").spinner({min:2}).val(2);
				$("#xplode, #rplode, #createUser, #createUsers").button();
				$("#xplode").click(function(){
					$("#myUser").toggle("explode", function(){
						$("#myUserGenerator").toggle("explode");	
					});	
				});
				$("#rplode").click(function(){
					$("#myUserGenerator").toggle("explode", function(){
						$("#myUser").toggle("explode");
					});	
				});
			});
	body
		h2 Create a user
		#myUser(style = 'height: 270px; width: 275px; border: 2px black solid; border-radius: 5px;float:left')
			form(method='post', action='/createUser')
				table
					tr
						td
							h3 Users
					tr
						if (!validationErrors[1])
							td(style = "color: red") First Name:
						else	
							td First Name:
						td
							input(type = "text", name = "cFirst")
					tr
						if (!validationErrors[2])
							td(style = "color: red") Last Name:
						else
							td Last Name:
						td
							input(type = "text", name = "cLast")
					tr
						if (!validationErrors[3])
							td(style = "color: red") User Name:
						else
							td User Name:
						td
							input(type = "text", name="cUser")
					tr
						if (!validationErrors[0])
							td(style = "color: red") Email Address:
						else
							td Email Address:
						td
							input(type = "text", name="cEmail")
					tr
						if (!validationErrors[4])
							td(style = "color: red") Display Name:
						else
							td Display Name:
						td
							input(type = "text", name='cDisplay')
				input(id="createUser", type='submit', value='Create', style='margin-left:5px')
				input(id='xplode', type='button', value='xPlode!', style='margin-left:5px')
		#myUserGenerator(style = 'height: 375px; width: 305px; border: 2px black solid; border-radius: 5px;float:left; display: none')
			form(method='post', action='/createManyUser')
				table
					tr
						td
							h3 Many Users
					tr
						if (!validationErrors[1])
							td(style = "color: red") First Name:
						else	
							td First Name:
						td
							input(type = "text", name = "cFirst")
					tr
						if (!validationErrors[2])
							td(style = "color: red") Last Name:
						else
							td Last Name:
						td
							input(type = "text", name = "cLast")
					tr
						if (!validationErrors[3])
							td(style = "color: red") User Name:
						else
							td User Name:
						td
							input(type = "text", name="cUser")
					tr
						if (!validationErrors[0])
							td(style = "color: red") Email Address:
						else
							td Email Address:
						td
							input(type = "text", name="cEmail")
					tr
						if (!validationErrors[4])
							td(style = "color: red") Display Name:
						else
							td Display Name:
						td
							input(type = "text", name="cDisplay")
					tr
						td Amount:
						td
							input(id="spinMe", type = "text", name="cCount")
				input(id="createUsers", type='submit', value='Create', style='margin-left:5px')
				input(id='rplode', type='button', value='xPlode!', style='margin-left:5px')