.inp-buttons{
	margin-left:5px;
	margin-top:5px;
	float: left;
}
.dateField{
	text-align:center;
	background-image: url("/Images/calendar.png");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 18px;
	width:100px;
}

#iteration{
	height:260px;
	width:275px;
	border:2px black solid;
	border-radius:5px;
	float:left;
	background-color: lightblue;
}
#multiIteration{
	height: 305px;
	width: 305px;
	border: 2px black solid;
	border-radius: 5px;
	float: left;
	background-color: lightblue;
	display: none;
}
#myUser{
	height: 270px;
	width: 275px;
	border: 2px black solid;
	border-radius: 5px;
	float: left;
	background-color: lightblue;
}
#myUserGenerator{
	height: 285px;
	width: 305px;
	border: 2px black solid;
	border-radius: 5px;
	float: left;
	background-color: lightblue;
	display: none;
}
#myDefect{
	height: 260px;
	width: 275px;
	border: 2px black solid;
	border-radius: 5px;
	float: left;
	background-color: lightblue;
}
#myStory{
	height: 260px;
	width: 275px;
	border: 2px black solid;
	border-radius: 5px;
	margin-left: 10px;
	float: left;
	background-color: lightblue;
}
#myResults{
	height: 900px;
	width: 800px;
	border: 2px black solid;
	border-radius: 5px;
	float: left;
	margin-top: 10px;
}
#spinMe{
	width: 50px;
}