.dateField{
	text-align:center;
	background-image: url("/Images/calendar.png");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 18px;
	width:100px;
}

.spinner{
	width: 50px;
}

.btn {
	margin: 5px;
}

input[type="number"] {
	height: 30px;
}

#iterationState {
	margin-left: 20px;
}

.hidden {
	display: none;
}